@import url('https://fonts.googleapis.com/css?family=Poppins:200');
:root {
	/* These are CSS variables. They can be accessed using 'var(--variable name);' */
	--accents:  rgb(95, 150, 0);
	--accents-transparent: rgba(93, 147, 0, 0.451); 
	--background: whitesmoke;
	--text: rgb(26,26,26);
	--box-shadow: rgba(0,0,0,.25);
	--links: rgb(20,20,255);
}
* {
	color: var(--text);
	background: var(--background);
	/* Just some initial styling to keep stuff nice. */
	padding: none;
	margin: none;
}
body, input, html, button {
	font-family: Poppins, sans-serif;
}

.topnav {
  clear: both;
  overflow: hidden;
  float: left;
  top: 0;
  border-radius: 0.5rem;
  position: fixed;
  box-shadow: 0px 0px 20px var(--box-shadow);
  padding: 10px 20px;
	width: 90%;
	margin: 0 auto;
}
.topnav a::after {
	content: ' | ';
	color: var(--text) !important;
} 

.topnav a {
	text-decoration: none;
}
.content a {
  text-decoration: none;
  margin-right: 5px;
  transition: color 0.2s ease;
}

.content {
  margin-top: 60px;
	max-width: 600px;
	/* Center the content */
	margin: 0 auto;
	padding: 40px;
}

.content a:hover {
  color: var(--links);
}

blockquote {
  border-left: 10px solid var(--accents);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  background-color: var(--accents-transparent);
  color: var(--text);
  display: inline;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
blockquote:before {
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

